*{
    margin: 0px;
    padding: 0px;
}
.flex-container{
    display: flex;
    margin-bottom: 100px;
}
body{
    font-family: 'Roboto', sans-serif;
}
.header-are{
    background-image: url(images/flod-victims.jpg);
}
.header-content{
    text-align: center;
}
h1{
    color:red;
}